<template>
    <div class="container">
        <div class="posts-list" v-if="posts !== ''">
            <div class="post-card-list" v-for="post in posts">
                <a :href="route_show.replace(':id',post.id)"
                   class="post-card-list__player plyr-border-20 plyr-hide-controls">
                    <video id="players" class="js-player" playsinline controls
                           :data-poster="post.preview_path !== null?'/storage/'+post.preview_path :''">
                        <source :src="'/storage/'+post.video_path" type="video/mp4"/>
                    </video>
                </a>
                <div class="post-card-list__group">
                    <div class="post-card-list__title">
                        <img src="" alt="">
                        <p>{{ post.title }}</p>
                    </div>
                    <div class="post-card-list__info">
                        <p>{{ post.channels }}</p>
                        <div class="post-card-list__data">
                            <p>{{ post.visits }} просмотров</p>
                            <p>{{ post.historyCreated }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" v-else>По такому запросу ничего не найдено</div>
    </div>
</template>

<script>

export default {
    name: "Search",
    props: [
        'posts',
        'route_show',
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    methods: {}
}

</script>
