.channel-sidebar {
    position: fixed;
    height: 92vh;
    width: 260px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    z-index: 9998;
    background: $black;
    overflow: hidden;
    border-right: 1px solid #9e9e9e;
    padding: 10px;

    &__logo{
        margin: 0 auto 20px;
        width: 70%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        background: white;
    }

    &__item {
        @include default-transition();
        cursor: pointer;
        color: white;
        padding: 10px;
        border-radius: 10px;
        text-decoration: none;

        &:hover {
            background: #383838;
        }
    }
}
