.channel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.channel-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20%;
    background: #fff;
    padding: 10px;
    border-radius: 20px;

    &__avatar {
        object-fit: cover;
        width: 60%;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__name {
        padding-top: 20px;
        border-top: 2px solid $black;
    }

    &__description {

    }

    &__buttons{
        display: flex;
        justify-content: space-around;
        gap: 15px;
        margin-top: auto;
    }

    &__choose,
    &__go {
        @include default-transition();
        color: $nav-bar-item;
        padding: 10px 30px;
        border-radius: 10px;
        background: #990000;
        cursor: pointer;
        text-decoration: none;

        &:hover {
            background: #5bbb33;
        }

        &--active {
            background: grey;

            &:hover {
                background: green;
            }
        }
    }
}
