.channel-container {
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 0;
}

.channel-page {
    @include default-transition();
    display: none;
    opacity: 0;

    &--active {
        opacity: 100;
        animation: ani 2.5s forwards;
        display: block;
    }
}

.channel-content{
    width: 100%;
    padding: 10px;
    height: 100vh;
    margin-left: 281px;
}
