<template>
        <div class="channel-list">
            <div class="channel-card"  v-for="channel in channels">
                <img class="channel-card__avatar" :src="channel.avatar" alt="#">
                <span class="channel-card__name" v-html="channel.name"/>
                <span class="channel-card__description" v-html="channel.description"/>
                <form :action=" route_form " method="post">
                    <div class="channel-card__buttons">
                        {{ method_post }}

                        <a class='btn channel-card__choose' @click="updateChannelStatus(this, channel.id)"
                           v-if="channel.selected === 0">Выбрать</a>
                        <a class='btn channel-card__choose channel-card__choose--active'
                           @click="updateChannelStatus(this, channel.id)" v-else>Выбрано</a>
                        <a class="btn channel-card__go">Перейти</a>
                    </div>
                </form>
            </div>
        </div>
</template>

<script>

export default {
    name: "ChannelChange",
    props: [
        'channels',
        'route_form',
        'method_post',
        'csrf_token'
        ],


    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    methods: {
        updateChannelStatus(element, id) {
            let url = '{{ route("web.channel.updateStatus", ":id") }}';
            url = url.replace(':id', id);

            $.ajax({
                url: url,
                type: "GET",
                data: {
                    "_token": this.csrf,
                },
                success: function (data) {
                    let headerProfile = document.querySelector('.header__profile img');
                    let chooseButtons = document.querySelectorAll('.channel-card__choose');

                    chooseButtons.forEach(function (el) {
                        el.classList.remove('channel-card__choose--active');
                        el.text = 'Выбрать';
                    })

                    element.classList.toggle('channel-card__choose--active');
                    element.text = 'Выбрано';
                    headerProfile.setAttribute('src', data)
                },
                error: function (data) {
                    console.log('error');
                },
            });
        }
    }
}
</script>
