<template>
    <div class="channel-container">
        <div class="channel-sidebar">
            <img class="channel-sidebar__logo" :src="select_channel" alt="#">
            <a :href="route_index" class="channel-sidebar__item">Главная</a>
            <a class="channel-sidebar__item js-channel-sidebar-item" data-block="1">Добавить канал</a>
            <a class="channel-sidebar__item js-channel-sidebar-item" data-block="2">Сменить канал</a>
            <a class="channel-sidebar__item js-channel-sidebar-item" data-block="3">Добавить видео</a>
        </div>

        <div class="channel-content">
            <div id="1" class="channel-page channel-page--active">
                <channel-create :route_form="channels"></channel-create>
            </div>
            <div id="2" class="channel-page">
                <channel-change :channels="channels"></channel-change>
            </div>
            <div id="3" class="channel-page">
                <video-create :channels="channels"></video-create>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "ChannelMain",

    props: [
        'route_index',
        'route_create_channel',
        'channels',
        'select_channel'
    ],

    mounted() {
        let channelPages = document.querySelectorAll('.channel-page');
        console.log(channelPages)

        document.querySelectorAll('.js-channel-sidebar-item').forEach(x => {
            x.addEventListener('click', function (e) {
                e.preventDefault();

                this.classList.toggle('channel-sidebar__item--active')
                channelPages.forEach(item => {
                    item.classList.remove('channel-page--active')
                })
                document.getElementById(this.getAttribute('data-block')).classList.toggle('channel-page--active');
            });
        });
        console.log(this.select_channel.avatar)
    },

    methods: {
        SelectPage() {

        }

    }

}
</script>
