.register{
    height: 100vh;

    &__form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0 auto;
        width: 50%;
        height: 100%;
        justify-content: center;
    }

    &__buttons{
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    &__submit{
        @include default-transition();
        color: $nav-bar-item;
        padding: 10px 20px;
        border-radius: 13px;
        background: #2b9300;
        border: 1px solid #2b9300;
        cursor: pointer;
        text-decoration: none;

        &:hover{
            background: #5bbb33;
            border: 1px solid #5bbb33;
        }
    }

    &__back{
        @include default-transition();
        color: $nav-bar-item;
        display: flex;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border-radius: 13px;
        border: 1px solid #990000;
        background: #990000;
        cursor: pointer;


        &:hover{
            background: #5bbb33;
            border: 1px solid #5bbb33;
        }
    }
}
