.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 22px;
    padding: 0;
    overflow: hidden;

    &__button {
        margin: 0 6px;
        width: 32px;
        text-align: center;

        a {
            display: block;
            padding: 7px;
            color: #949494;
        }

        img{
            width: 30px;
        }

        &--page{
            @include default-transition();
            color: #212121;
            background: transparent;

            &:hover{
                background: #F8CA13;
                border-radius: 8px;
            }
        }

        &-link {
            @include default-transition();
            cursor: pointer;
        }

        &--active {
            @include default-transition();
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            text-align: center;
            color: #212121;
            background: #F8CA13;
            border-radius: 8px;

            a {
                display: block;
                padding: 7px;
                color: #212121;
            }
        }

        &--active:hover {
            border-radius: 8px;
        }

        &--back {
            @include default-transition();
            cursor: pointer;

            img{
                @include default-transition();
                &:hover{
                    filter: invert(79%) sepia(68%) saturate(1108%) hue-rotate(344deg) brightness(103%) contrast(104%);
                    background: transparent;
                }
            }
        }

        &--next {
            @include default-transition();
            cursor: pointer;

            img{
                @include default-transition();
                &:hover{
                    filter: invert(79%) sepia(68%) saturate(1108%) hue-rotate(344deg) brightness(103%) contrast(104%);
                    background: transparent;
                }
            }

        }
    }

    li {
        float: left;
        display:  flex;
        text-align: center;
        justify-content: center;
        padding: 4px;
    }

}

