.textarea{
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: $black;
    font-size: 14px;
    resize: none;
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    outline: none;
    min-height: 300px;

    &::placeholder{
        color: $black;
    }
}

.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: $black;

    &__label {
        text-transform: capitalize;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        color: $post-card-text;
    }

    input{
        &::placeholder{
            text-transform: capitalize;
            font-family: 'Inter', sans-serif;
            font-style: normal;
            color: $black;
        }
    }

}

.input-text{
    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    outline: none;
}

.input-file{
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: $black;
    background: white;

    border-radius: 10px;
    border: 1px solid;
    padding: 10px;
    outline: none;
}
