.post-create {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 50px;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    &__button {
        @include default-transition();
        border-radius: 20px;
        border: 1px solid transparent;
        padding: 20px;
        background: $post-create-button-background;
        color: $post-create-button-text;
        cursor: pointer;

        &:hover {
            background: $post-create-button-background-hover;
        }
    }
}
