<template>
    <div class="container">
        <div class="nav-bar">
            <a class="nav-bar__item">Все</a>
            <a class="nav-bar__item">Новое</a>
            <a class="nav-bar__item">Рекомендации</a>
            <a class="nav-bar__item">Популярное</a>
            <a class="nav-bar__item">Джемы</a>
            <a class="nav-bar__item" v-for="category in categories" :data-block="category.slag">{{ category.name }}</a>
        </div>

        <div class="posts-grid">
            <div class="post-card" v-for="post in posts">
                <a :href="route_show.replace(':id', post.id)" class="plyr-border-20 plyr-hide-controls">
                    <video id="players" class="js-player" playsinline controls
                           :data-poster="post.preview_path ===null?'/storage/'+post.preview_path:''">
                        <source :src="'/storage/'+post.video_path" type="video/mp4" sizes="480,480"/>
                    </video>
                </a>
                <div class="post-card__title">
                    <img src="" alt="">
                    <p>{{ post.title }}</p>
                </div>
                <div class="post-card__info">
                    <p></p>
                    <div class="post-card__data">
                        <p>{{ post.visits }} просмотров</p>
                        <p>{{ post.historyCreated }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "Home",
    props: [
        'categories',
        'posts',
        'route_show',
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    methods: {
    }
}

</script>
