<template>
    <div class="container">
        <div class="post-show">

            <div class="post-show__player">
                <video id="players" class="js-player" crossorigin playsinline controls preload="auto"
                       :data-poster="post_show.preview_path !== null?'/storage/'+post_show.preview_path:''">
                    <source :src="'/storage/'+post_show.video_path" type="video/mp4" />

                </video>
                <div class="post-card__title">
                    <img src="" alt="">
                    <p>{{post_show.title}}</p>
                </div>
                <div class="post-card__info">
                    <p>{{post_show.name}}</p>
                    <div class="post-card__data">
                        <p>{{post_show.visits}} просмотров</p>
                        <p>{{post_show.historyCreated}}</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="post-show__selections">
            <div class="post-show__selections-category" v-for="posts in posts_group">
                <h3 class="post-show__selections-title">Название</h3>
                <div class="post-show__selections-group">
                    <a class="post-show__selections-item" v-for="post in posts" :href="route_show.replace(':id',post.id)">
                        <div class="post-card">
                            <video id="players" class="js-player" playsinline controls preload="none"
                                   :data-poster="post.preview_path !== null?'/storage/'+post.preview_path:''">
                                <source :src="'/storage/'+post.video_path" type="video/mp4"/>
                            </video>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "PostShow",
    props: [
        'post_show',
        'posts_group',
        'route_show',
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    methods: {}
}

</script>
