body {
    background: $black;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.container{
    padding: 20px 33px;
}

video{
    width: 100%;
}

h1, h2, h3, h4, h5, p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
