<template>
    <div class="post-create">
        <form class="post-create__form" :action="route_form" method="post" enctype="multipart/form-data">
            {{ method_post }}

            <div class="input">
                <label class="input__label" for="channel-title">Название</label>
                <input id="channel-title" class="input-text" type="text" name="name" placeholder="Название">
            </div>

            <div class="input">
                <label class="input__label" for="channel-description">Описание</label>
                <textarea class="textarea" id="channel-description" type="text" name="description"
                          placeholder="Описание"></textarea>
            </div>

            <div class="input">
                <label class="input__label" for="channel-file">Видео</label>
                <input id="channel-avatar" class="input-file" type="file" name="post" placeholder="Видео">
            </div>

            <button class="btn post-create__button" type="submit">Добавить</button>
        </form>
    </div>
</template>

<script>

export default {
    name: "VideoCreate",
    props: [
        'route_form',
        'method_post'
        ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },
}
</script>
