.search {
    flex-grow: 0;
    width: 50%;

    &__form {
        display: flex;
        flex-direction: row;

    }

    &__input {
        width: 100%;
        border-radius: 40px 0 0 40px;
        border: 1px solid $border-search;
        padding: 0px 4px 0px 16px;
        outline: none;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-search;
        background-color: $search-botton;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        height: 40px;
        width: 64px;
        margin: 0;

        img {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(317deg) brightness(110%) contrast(101%);
            object-fit: fill;
            width: 25px;
        }
    }
}
