<template>
    <div>
        <div class="header">

            <div class="header__burger" @click="burger(this)">
                <img :src="'/img/button/burger-menu.svg'" alt="">
            </div>

            <div class="header__logo">
                <a :href="route_home">
                    <img :src="'/img/logo/logo.png'" alt="">
                </a>
            </div>

            <div class="search">
                <form class="search__form" :action="route_search" method="get">
                    <input class="search__input" type="text" name="q">
                    <button class="search__button">
                        <img :src="'/img/button/search.svg'" alt="">
                    </button>
                </form>
            </div>

            <div class="header__actions" v-if="auth.id !== ''">
                <a class="header__post" :href="route_channel">
                    <img :src="'/img/button/add_post.svg'" alt="">
                </a>
                <a class="header__notify" href="">
                    <img :src="'/img/button/notify.svg'" alt="">
                </a>
                <a class="header__profile">
                    <img src="" alt="">
                </a>
            </div>

            <div class="header__actions" v-if="auth.id === ''">
                <a class="header__login" :href="route_login">
                    Войти
                </a>
                <a class="header__register" :href="route_register">
                    Зарегистрироваться
                </a>
            </div>

            <div class="user__settings">

                <div class="user__settings-profile js-btn-show-profile">
                    <img
                        :src="auth.avatar ? '/storage/avatar'+auth.id+'/'+auth.avatar_path : '/img/default-avatar/avatar_1.jpg'"
                        alt="">
                    <a class="user__settings-profile-name" href="#">{{ auth.name }}</a>
                </div>

                <div class="popup js-hide-profile-popup">
                    <div class="popup__content">
                        <div class="popup__tail-container">
                            <div class="popup__tail"></div>
                        </div>
                        <form :action="route_logout" method="POST">
                            @csrf
                            @method('POST')
                            <button class="popup__button" type="submit">Log out</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="user__alert" v-if="auth.id === ''">
                <div
                    :class="'user__alert js-btn-show-notice'+notifications_count > 0 ? '' : 'user__alert-notifications--none-hover' ">
                    <img class="user__alert-img" :src="'/img/user/alert.svg'" alt="">
                    <span v-if="notifications_count > 0">
                    {{ notifications_count }}
                </span>
                </div>

                <div
                    :class="'alert-notifications js-hide-notifications-popup'+notifications_count > 0 ? '' : 'alert-notifications--none'">
                    <div class="user__alert-notifications-tail-container">
                        <div class="user__alert-notifications-tail"></div>
                    </div>

                    <div class="user__alert-message" v-for="notification in notifications">

                        <h3>
                            <a href="">{{ notification.title }}</a>
                        </h3>

                        <div
                            :class="'user__alert-message-text js-notification-text'+notification.id ">{!!
                            notification.text !!}
                        </div>
                        <div class="user__alert-message-block">
                            <p class="js-notification-more user__alert-message-more"
                               :data-block="'js-notification-text'+notification.id ">
                                More
                                <img :src="'/img/user/more.svg'" alt="">

                            </p>
                            <p class="user__alert-message-more user__alert-message-more--date">
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="burger-sidebar js-burger-menu">
            <a class="burger-sidebar__item">Категории</a>
        </div>
    </div>
</template>

<script>

export default {
    name: "Header",
    props: [
        'route_search',
        'route_channel',
        'route_home',
        'route_login',
        'route_logout',
        'route_register',
        'auth',
        'notifications',
        'notifications_count'
    ],

    data: () => {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
        }
    },

    methods: {
        burger(element) {
            $(element).find('img').attr('src', "'img/button/close-burger.svg'")
            if ($(element).hasClass('burger__button--active')) {
                $(element).find('img').attr('src', "'img/button/burger-menu.svg'")
            }
            $(element).toggleClass('burger__button--active')
            $('.js-burger-menu').toggleClass('burger-sidebar--active')

        }
    }
}

</script>
