.burger-sidebar{
    @include default-transition();
    display: flex;
    height: 100%;
    width: 300px;
    position: fixed;
    left: -300px;
    background: $black;
    border-right: 1px solid #9e9e9e;
    z-index: 9999;
    transition: left .2s linear;

    &--active{
        @include default-transition();
        left: 0;
        transition: left .2s linear;
        display: flex;
    }

    &__item{

    }
}
