.header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background: $black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #9e9e9e;

    &__burger{
        height: 40px;
        cursor: pointer;

        img{
            height: 100%;
            filter: invert(97%) sepia(62%) saturate(0%) hue-rotate(75deg) brightness(109%) contrast(100%);
        }
    }

    &__logo {
        img {
            object-fit: fill;
            height: 44px;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__notify {
        img {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(317deg) brightness(110%) contrast(101%);
            object-fit: fill;
            height: 20px;
        }
    }

    &__post {
        img {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(317deg) brightness(110%) contrast(101%);
            object-fit: fill;
            height: 20px;
        }
    }

    &__profile {
        cursor: pointer;

        img {
            border-radius: 50%;
            height: 44px;
        }
    }

    &__login{
        @include default-transition();
        color: $nav-bar-item;
        padding: 10px 20px;
        border-radius: 20px;
        background: #2b9300;
        cursor: pointer;
        text-decoration: none;

        &:hover{
            background: #5bbb33;
        }
    }

    &__register{
        @include default-transition();
        color: $nav-bar-item;
        padding: 10px 20px;
        border-radius: 20px;
        background: #990000;
        cursor: pointer;
        text-decoration: none;

        &:hover{
            background: #5bbb33;
        }
    }
}

.user__alert{
    display: none;
}

.user__settings{
    display: none;
}

.alert-notifications{
    display: flex;

    &--none{
        display: none;
    }
}
