.post-card {
    width: 100%;

    &__title {
        color: $post-card-text;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;

        p {
            color: $post-card-text;
            font-size: 14px;
            margin: 0;
        }
    }

    &__data {
        display: flex;
        flex-direction: row;
        gap: 5px;

        p {
            color: $post-card-text;
            font-size: 14px;
            margin: 0;
        }
    }

    &__title,
    &__description {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;

        h4 {
            color: $post-card-text;
            font-size: 14px;
            margin: 0;
        }

        p {
            color: $post-card-text;
            font-size: 12px;
            word-break: break-all;
            margin: 0;
        }
    }
}
