.post-card-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 100%;

    &__player{
    }

    &__title {
        color: $post-card-text;
    }

    &__group {

    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;

        p {
            color: $post-card-text;
            font-size: 14px;
            margin: 0;
        }
    }

    &__data {
        display: flex;
        flex-direction: row;
        gap: 5px;

        p {
            color: $post-card-text;
            font-size: 14px;
            margin: 0;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 10px;

        h4 {
            color: $post-card-text;
            font-size: 14px;
            margin: 0;
        }

        p {
            color: $post-card-text;
            font-size: 12px;
            word-break: break-all;
            margin: 0;
        }
    }
}
