.post-show {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &__player {
        width: 75%;
    }

    &__list {
        display: none;
        flex-direction: column;
        overflow-y: scroll;
        gap: 8px;

        @media (min-width: $laptop) {
            display: flex;
            height: 427px;
        }

        @media (min-width: $laptop-L) {
            display: flex;
            height: 613px;
        }
        @media (min-width: $full4k) {
            display: flex;
            height: 1113px;
        }
    }

    &__list-item {

    }

    &__selections {
        margin-top: 20px;
    }

    &__selections-category {

    }

    &__selections-group {
        display: flex;
        gap: 10px;
    }

    &__selections-title {
        color: white;
    }

    &__selections-item {
        width: 25%;

        .plyr__controls {
            display: none;
        }
    }
}
